section {
    min-height: 100%;
    height: auto;
    width: 900px;
    margin: 0 auto;
}

header {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    text-align: center;
}

footer {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0;
    text-align: center;
}

table.list {
    margin: 0 auto;
}

dl {
    background: none repeat scroll 0 0 #FAFAFA;
    margin: 8px 0;
    padding: 0;
}

dt {
    display: inline-block;
    width: 170px;
}

dt.left {
    display: inline-block;
    width: 170px;
    text-indent: 2em;
}

dd {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
    margin-bottom: 10px;
}

dd.sec {
    display: inline-block;
    margin-left: 178px;
    vertical-align: top;
}

h2, h3 {
    margin: 15px 0 5px;
}

li {
    margin: 15px 0;
}

th, td {
    text-align: left;
    vertical-align: top;
    padding: 8px;
}

textarea {
    width: 100%;
    height: 85px;
    padding: 12px 20px;
    box-sizing: content-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
}

div.event {
    padding-top: 12px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

a[href^="skype:"] {
    padding-left: 20px !important;
    background: url(../img/skype.png) no-repeat center left;
}

a[href^="mailto:"] {
    padding-left: 20px !important;
    background: url(../img/email.png) no-repeat center left;
}

a[title="Дополнительная информация"] {
    padding-left: 20px !important;
    background: url(../img/other.png) no-repeat center left;
    background-size: contain;
}

a[title="Домашняя страница"] {
    padding-left: 20px !important;
    background: url(../img/home.png) no-repeat center left;
    background-size: contain;
}

a[href*="github."] {
    padding-left: 20px !important;
    background: url(../img/gh.png) no-repeat center left;
}

a.add:link, a.add:visited {
    background-color: #4caf50;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
}

a.add:hover, a.add:active {
    background-color: green;
}